/.project
/.pydevproject
/.ropeproject
.svn
*.pyc
*.pyo
.cache
.pytest_cache
CVS
bin
downloads
eggs
include
lib
.installed.cfg

.idea
*.iml

fabfile/authorized_keys

/test/tmp

# Coverage results
.coverage
.coverage.*

# The directory with the HTML report
# generated with "coverage html"
htmlcov/
