# Configuration file for ngamsJobMAN running on
# the local host

[Web Server]
IpAddress=localhost
Port=7799
Debug=1

[MWA DB]
host=localhost
db=
user=
password=

[NGAS DB]
#host=localhost
host=
db=
user=
password=

[LTA DB]
host=
db=
user=
password=

[Archive Servers]
ClusterGateway=
LTA=
