*.o
.deps
.libs
Makefile
Makefile.in
libngams.la
ngamsARCH_CLI_MAN_PAGE.c
ngamsARCH_CLI_MAN_PAGE.lo
ngamsArchiveClient
ngamsCClient
ngamsCClientLib.lo
ngamsCClientX
ngamsCrc32
ngamsLICENSE.c
ngamsLICENSE.lo
ngamsMAN_PAGE.c
ngamsMAN_PAGE.lo
ngamsMAN_PAGE_X.lo
ngamsVERSION.h
*.txt.c
