# Configuration file for ngamsJobMAN running on
# the local host

[Web Server]
IpAddress=localhost
Port=7799
Debug=1

[MWA DB]
host=localhost
db=ngas
user=ngas
password=bmdhcyRkYmE=\n

[NGAS DB]
#host=localhost
host=192.102.251.250
db=ngas
user=ngas
password=bmdhcyRkYmE=\n

[LTA DB]
host=192.102.251.250
db=ngas
user=ngas
password=bmdhcyRkYmE=\n

[Archive Servers]
ClusterGateway=macbook46.icrar.org:7779
#LTA=loalhost:7778
# cluster (7777, 7778), running PostgreSQL
LTA=cortex.ivec.org:7777

